# Nix builds
/result

# Cargo builds
/target
/.cargo

# Environmental variables
.env

# Production config file
config.toml*

# Shell temporary files
.nix-shell

# Postgresql logfiles
logfile

# Direnv
.direnv


tmp
